################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PrimerParcial/bin/Debug/net10.0
/PrimerParcial/.vs
/PrimerParcial/obj
